<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>bouncytorch</title>
	<style>
		* {
			font-family: sans-serif;
		}
		html {
			background: #1E1E1E;
			font-size: 14px;
			color: #fff;
			text-align: center;
		}
		a {
			color: #5784d8
		}
		body {
			margin:auto;
			width: 287px;
			background: #414141;
			padding: 45px 40px;
		}
	</style>
</head>

<body>
	<svg width="63" height="36" viewBox="0 0 63 36" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M33 0V35H44C49.6752 35 54.9392 33.3729 58.3411 30.1186C61.7594 26.8643 63 22.451 63 17C63 5.62623 56.4954 0 44 0H33ZM40 29V6H44C47.5001 6 50.57 7.57996 52.5 9.5C54.4462 11.4038 55 13.6644 55 17C55 20.5309 54.4626 23.4497 52.5 25.5C50.5538 27.5501 47.4347 29 44 29H40Z" fill="white"/>
		<path d="M23.0119 35L33 6V0H28.7771L20 25L11 0.0655556H0V35.0656H7V15.7196V6L17 35.0656L23.0119 35Z" fill="white"/>
	</svg><br>
	<p>
		<span style="line-height: 88.52%;">site is undergoing<br><span style="font-weight: 900;font-size: 24px;">MAINTENANCE</span><br>in the meantime, check out these links:<br></span>
		<br>
		<a href="https://open.spotify.com/artist/41ryjxYFqikzeC3wzKfSkS">Spotify</a><br>
		<a href="https://youtube.com/@bouncytorch">YouTube</a><br>
		<a href="https://soundcloud.com/bouncytorch">SoundCloud</a><br>
		<a href="https://music.apple.com/us/artist/bouncytorch/1614632135">Apple Music</a><br>
		<a href="https://bouncytorch.bandcamp.com">Bandcamp</a><br>
		<a href="https://twitter.com/bouncytorch">Twitter</a><br>
	</p>
</body>
</html>