<%- include('partials/header') %>
<main>
	<h1>blog</h1>
	<div class="posts">
		<a href="/blog/0">
			<div><h4>blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1</h4>
			<p>a very long long project description. it's pretty long and spans across 2 entire lines. kinda crazya very long long project description. it's pretty long and spans across 2 entire lines. kinda crazya very long long project description. it's pretty long and spans across 2 entire lines. kinda crazy</p></div>
			<div><span>12:00<br>01/01/2023</span><span>by <b>bouncytorch</b></span></div>
		</a>
		<a href="/blog/0" class="img" style="background-image: url('https://placehold.co/907x479');">
			<img src="https://placehold.co/1290x500" alt="">
			<div><h4>blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1 blog-heading-1</h4>
			<p>a very long long project description. it's pretty long and spans across 2 entire lines. kinda crazya very long long project description. it's pretty long and spans across 2 entire lines. kinda crazya very long long project description. it's pretty long and spans across 2 entire lines. kinda crazy</p></div>
			<div><span>12:00<br>01/01/2023</span><span>by <b>bouncytorch</b></span></div>
		</a>
	</div>
</main>
<%- include('partials/footer') %>