<main>
	<svg class="logo" xmlns="http://www.w3.org/2000/svg" width="87" height="66" viewBox="0 0 87 66" fill="none">
		<path d="M0.414368 65.928V0.071991H17.6944L25.8544 36.36C26.1104 37.448 26.3664 38.824 26.6224 40.488C26.9424 42.152 27.2304 43.816 27.4864 45.48C27.8064 47.08 28.0304 48.456 28.1584 49.608C28.3504 50.696 28.4464 51.24 28.4464 51.24H28.8304C28.8304 51.24 28.8944 50.664 29.0224 49.512C29.2144 48.36 29.4064 46.952 29.5984 45.288C29.8544 43.56 30.1104 41.896 30.3664 40.296C30.6224 38.632 30.8464 37.32 31.0384 36.36L39.1024 0.071991H55.8064V65.928H44.4784V23.976C44.4784 23.208 44.5104 22.248 44.5744 21.096C44.6384 19.944 44.6704 18.792 44.6704 17.64C44.7344 16.424 44.7984 15.432 44.8624 14.664C44.9264 13.832 44.9584 13.416 44.9584 13.416H44.5744C44.3824 14.248 44.1904 15.112 43.9984 16.008C43.8064 16.84 43.6144 17.704 43.4224 18.6C43.2304 19.432 43.0384 20.296 42.8464 21.192C42.6544 22.024 42.4624 22.888 42.2704 23.784L33.0544 65.928H22.3984L13.0864 23.592C12.8944 22.76 12.7024 21.928 12.5104 21.096C12.3184 20.2 12.1264 19.336 11.9344 18.504C11.7424 17.672 11.5504 16.84 11.3584 16.008C11.1664 15.112 10.9744 14.248 10.7824 13.416H10.3984C10.3984 13.416 10.4304 13.832 10.4944 14.664C10.5584 15.496 10.5904 16.52 10.5904 17.736C10.6544 18.952 10.7184 20.136 10.7824 21.288C10.8464 22.44 10.8784 23.336 10.8784 23.976V65.928H0.414368ZM38.7777 65.928V0.071991H60.1857C68.3777 0.071991 74.8097 2.76 79.4817 8.13599C84.2177 13.448 86.5857 21.416 86.5857 32.04C86.5857 43.304 84.2177 51.784 79.4817 57.48C74.8097 63.112 68.3777 65.928 60.1857 65.928H38.7777ZM51.0657 54.984H59.0337C63.5777 54.984 67.1937 53.288 69.8817 49.896C72.5697 46.44 73.9137 41.288 73.9137 34.44V29.64C73.9137 23.432 72.5697 18.792 69.8817 15.72C67.1937 12.584 63.5777 11.016 59.0337 11.016H51.0657V54.984Z" fill="black"/>
	</svg>
	<span>bouncytorch's linktree and portfolio page</span>
	<nav>
		<a href="https://soundcloud.com/bouncytorch" class="bdefault" disabled>music</a>
		<a href="https://github.com/bouncytorch" class="bdefault" disabled>projects</a>
		<a href="/blog" class="bdefault disabled" disabled>blog</a>
	</nav>
	<span>socials:</span>
	<div class="socials">
		<a href="/mail" class="bdefault">email<i class="fa-solid fa-envelope"></i></a>
		<button class="bdefault" onmouseenter="mouseEnter(this)" onmouseleave="mouseExit(this)" onclick="mouseClick(this)">discord<i class="fa-brands fa-discord"></i></button>
		<a href="https://github.com/bouncytorch" class="bdefault">github<i class="fa-brands fa-github"></i></a>
		<a href="https://open.spotify.com/artist/41ryjxYFqikzeC3wzKfSkS" class="bdefault">spotify<i class="fa-brands fa-spotify"></i></a>
		<a href="https://soundcloud.com/bouncytorch" class="bdefault">cloud<i class="fa-brands fa-soundcloud"></i></a>
		<a href="https://youtube.com/@bouncytorch" class="bdefault">youtube<i class="fa-brands fa-youtube"></i></a>
		<a href="https://music.apple.com/us/artist/bouncytorch/1614632135" class="bdefault">apple<i class="fa-brands fa-apple"></i></a>
		<a href="https://www.last.fm/user/bobsytoch" class="bdefault">last<i class="fa-brands fa-lastfm"></i></a>
	</div>
	<button class="bdefault bicon btheme" onclick='toggleTheme(this)'><i class="fa-solid fa-moon"></i></button>
	<footer>
		auri media group ltd. (c) 2023<br>
		made with ♡ by bouncytorch<br>
		version: v4<br>
	</footer>
</main>
<script>
	function mouseEnter(btn) {
		btn.style = null;
		btn.innerHTML = 'copy<i class="fa-brands fa-discord"></i>';
	}

	function mouseExit(btn) {
		btn.style = null;
		btn.innerHTML = 'discord<i class="fa-brands fa-discord"></i>';
	}

	function mouseClick(btn) {
		navigator.clipboard.writeText('@bouncytorch');
		btn.style.backgroundColor = '#32E373'
		btn.innerHTML = 'copied<i class="fa-solid fa-check"></i>'
		btn.style.borderColor = '#32E373'
	}
</script>