<section>
	<h1>bouncytorch</h1>
	<img src="/assets/images/char_drawing.webp" alt="Drawing of my character by @Charro_64 on Twitter!" width="222" height="222">
	<p>
		drawing by <a target="_blank" href="https://twitter.com/Charro_64">@Charro_64</a><br>
		orchestral fusion composer, arranger, sound designer; middle nodejs developer; 
	</p>
	<div class="lnktr">
		<a href="https://open.spotify.com/artist/41ryjxYFqikzeC3wzKfSkS"><i class="fa-brands fa-spotify"></i> Spotify</a>
		<a href="https://www.youtube.com/@bouncytorch"><i class="fa-brands fa-youtube"></i> YouTube</a>
		<a href="https://soundcloud.com/bouncytorch"><i class="fa-brands fa-soundcloud"></i> SoundCloud</a>
		<a href="https://music.apple.com/mw/artist/bouncytorch/1614632135"><i class="fa-brands fa-apple"></i> Apple Music</a>
		<a href="https://bouncytorch.bandcamp.com/"><i class="fa-brands fa-bandcamp"></i> Bandcamp</a>
		<a href="https://www.last.fm/user/bobsytoch"><i class="fa-brands fa-lastfm"></i> LastFM</a>
	</div>
</section>
<section>
	<h1>the music</h1>
	<img src="/assets/images/record.webp" alt="MD's Collection vinyl, exclusively recorded on 25 inch toilet paper." width="222" height="222">
	<p>
		i specialize in piano compositions (in the style of minecraft, ori, and others), electronic/dance and orchestral fusion. i also do bass, soundscape and drone sound design.
	</p>
	<a class="ref-button" href="https://soundcloud.com/bouncytorch">check out the full collection -></a>
</section>