.posts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 100%;
	gap: 10px;
    max-width: 907px;
}

.posts > a {
	-webkit-user-select: none;
	-ms-user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
	background: var(--highlight);
    padding: 18px 25px;
    min-height: 117px;
	-moz-user-select: none;
	     user-select: none;
	position: relative;
}


.posts > a.img > img {
	position: absolute;
	aspect-ratio: auto;
	width:100%;
}

.posts > a.img > div:first-child {
	margin-top: auto;
}

body.hasHover .posts > a:hover {
	cursor: pointer;
	background-color: var(--highlight-hover);
}

body.hasHover .posts > a:hover * {
	cursor: inherit;
}

.posts > a * {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	cursor: default;
	-moz-user-select: none;
	     user-select: none; /* Standard syntax */
}

h4 {
	line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	padding-top: 0.14em;
	padding-bottom: 0.14em;
	width: 100%;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-weight: 900;
	font-size: 24px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	text-transform: uppercase;
}

.posts > a p {
	line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	padding-top: 0.14em;
	padding-bottom: 0.11em;
	-webkit-line-clamp: 3;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.posts > a > div:last-child {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
	font-weight: lighter;
	font-size: 14px;
}

.posts > a > div:last-child > * {
	text-align: right;
}

@media screen and (max-width: 675px) {
	.posts > a {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.posts > a > div:last-child {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		   -moz-box-orient: horizontal;
		   -moz-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin-top: 5px;
	}
	
	.posts > a > div:last-child > * {
		text-align: left;
	}
}