* {
	text-align: center;
}

body {
	height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
	padding: 20px;
	max-width: unset;
	margin: unset;
	background-image: url(/assets/images/mount_ararat.webp);
    -moz-background-size: cover;
         background-size: cover;
    background-position-x: center;
    background-blend-mode: var(--bg-image-blend);
}

main {
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
	-webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: var(--background-alpha);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
	padding: 60px 30px;
}

footer {
	height: unset;
}

nav {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	gap: 5px;
	max-width: unset;
}

.socials {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    /* width: 100%; */
    max-width: 390px;
    gap: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}